{{- define "main" -}}

<div class="universal-wrapper pt-3">
    <div class="article-style">

        <h2 style="font-size: 1.8rem; text-align: center;">Sorry, content not yet available </h2>

        <p> Most content should be available one week before class. Labs will be available the day of class. </p>

        <p> If something doesn't seem right, please e-mail me! </p>
     <!--   <img src="../media/404.jpg" alt="404">

        <p style="font-size: 0.6rem; text-align: center;">Image by <a
                href="https://www.behance.net/gallery/10286437/404-Pages/">Aaron Snyder</a>.</p>
    </div>
-->
</div>

{{- end -}}
